body{
  background-color: #222;
}

.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard h1 {
  text-align: center;
  color: white;
}


.stats-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-box {
  text-align: center;
}

.stat-box h2 {
  margin: 0;
  color: white;
}

.stat-box p {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}


.skills-section h2 {
  color: white;
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  display: block;
  font-weight: bold;
  color: white;
}

.skill-bar-container {
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 20px;
  margin-top: 5px;
}

.skill-bar {
  height: 100%;
  background-color: #671ea3;
}


.projects-section {
  margin-top: 20px;
  color: white;
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
}

.projects-table th,
.projects-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.projects-table th {
  background-color: #f4f4f4;
  color: black;
}

tbody{
  color: white;
}
